/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1.Vị trí
2.Kích thước (width, height)
3.Màu sắc
4.Kiểu dáng (kiểu chữ, hình tròn, hình vuông, ...)
*/
.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding: 0px 8px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.l-col-third {
  width: 33.33333%
}

.l-col-half {
  width: 50%;
}

.l-col-one {
  width: 100%;
}

.m-col-third {
  width: 33.33333%
}

.m-col-half {
  width: 50%;
}

.m-col-one {
  width: 100%;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-32 {
  margin-top: 32px;
}

.mv-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

#main {
  
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav {
  display: inline-block;
  list-style: none;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav .nav-down-icon {
  font-size: 14px;
}

#nav .subnav li {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px 6px #ddd;
}

#nav .subnav a {
  display: block;
  color: #000;
  min-width: 200px;
  padding-left: 12px;
  line-height: 36px;
  text-decoration: none;
}

#check-menu,
#check-subnav {
  display: none;
}

#nav label,
#nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  text-transform: uppercase;
  transition: all linear 0.2s;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

#header .search-btn {
  float: right;
  line-height: 46px;
  padding: 0px 21px;
}

#header .menu-btn {
  display: none;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .search-icon {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .slider-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .slider-header {
  font-size: 24px;
  font-weight: 500;
}

#slider .slider-desc {
  font-size: 15px;
  margin-top: 20px;
}

#content {
}

#content .content-section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}

#content .section-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
  line-height: 1.5;
}

#content .about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
  margin-top: 15px;
}

#content .member-item {
  text-align: center;
}

#content .member-name {
  font-size: 15px;
  margin: 15px 0;
}

#content .member-img {
  width: 60%;
  border-radius: 4px;
}

/* Tour Section */

.tour-section {
  background-color: #000;
}

.ticket-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}

.ticket-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}

.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 5px;
  margin-left: 15px;
}

.ticket-list .quantity {
  float: right;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  min-width: 24px;
  height: 24px;
  padding: 0px 5px;
  text-align: center;
  transform: translateY(-14%);
  line-height: 24px;
}

.place-list {
  padding: 25px 0px;
  margin-left: -8px;
  margin-right: -8px;
}

.place-item {
  
}

.place-item .place-img {
  width: 100%;
  display: block;
}

.place-item .place-body {
  background-color: #fff;
  padding: 15px;
  font-size: 15px;
}

.place-item .place-name {
  margin-top: 10px;
  font-weight: 500;
}

.place-item .place-time {
  opacity: 0.6;
  margin-top: 20px;
}

.place-item .place-desc {
  margin-top: 20px;
}

.place-item .place-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 11px 16px;
  margin-top: 20px;
}


.place-item .place-btn:hover {
  background-color: #ccc;
  color: #000;
}

.place-item .place-img:hover {
  opacity: 0.6;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal-container {
  background-color: #fff;
  /* min-width: 900px; */
  width: 100%;
  max-width: 900px;
  margin-left: 15px;
  margin-right: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal-header {
  font-size: 30px;
  padding: 30px 0;
  text-align: center;
  background-color: #009688;
  color: #fff;
  font-weight: normal;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  color: #fff;
}

.modal-close:hover {
  background-color: #ccc;
  color:#000;
}

.modal-body {
  padding: 15px;
  font-size: 15px;
}

.modal-label {
  display: inline-block;
  margin-bottom: 10px;
}

.modal-input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 11px;
  margin-bottom: 20px;
}

.modal-btn {
  width: 100%;
  border: none;
  background-color: #009688;
  color: #fff;
  padding: 20px 0px;
  text-transform: uppercase;
}

.modal-btn:hover {
  background-color: #ccc;
  color: #000;
}

.modal-footer {
  display: flex;
  margin: 20px 0;
}

.modal-footer .help {
  display: inline-block;
  margin-left: auto;
}

.modal-footer .help a {
  color: #2196F3;
}

/* Handle modal event */
#checkbox-modal {
  display: none;
}

#checkbox-modal:checked~.modal-container,
#checkbox-modal:checked~.modal {
  z-index: 2;
  display: block;
}

/* Contact */

.contact-info {
  line-height: 1.8;
}

.contact-info .info-icon {
  margin-right: 20px;
}

.contact-info a {
  color: #2196F3;
}

.contact-form {

}

.contact-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.contact-form .submit-btn {
  width: auto;
  float: right;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 16px;
}

.contact-form .submit-btn:hover {
  background-color: #ccc;
  color: #000;
}

.map-section img {
  width: 100%;
}

.map-section {
}

/* Footer Section */

#footer {
  text-align: center;
  line-height: 2;
  font-size: 18px;
  color: #000;
  opacity: 0.6;
}

#footer a {
  color: #000;
}

#footer i {
  font-size: 25px;
  padding: 0px 3px;
}