/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1.Vị trí
2.Kích thước (width, height)
3.Màu sắc
4.Kiểu dáng (kiểu chữ, hình tròn, hình vuông, ...)
*/

#main {
  
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav {
  display: inline-block;
  list-style: none;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav .nav-down-icon {
  font-size: 14px;
}

#nav .subnav li {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px 6px #ddd;
}

#nav .subnav a {
  display: block;
  color: #000;
  min-width: 200px;
  padding: 12px;
  line-height: 26px;
  text-decoration: none;
}

#nav > li > a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  text-transform: uppercase;
  transition: all linear 0.2s;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

#nav li:hover .subnav {
  display: block;
}

#header .search-btn {
  float: right;
  line-height: 46px;
  padding: 0px 21px;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .search-icon {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .slider-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}

#slider .slider-header {
  font-size: 24px;
  font-weight: 500;
}

#slider .slider-desc {
  font-size: 15px;
  margin-top: 20px;
}


#content {
  height: 2000px;
}

#footer {

}
